@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

html{
  scroll-behavior:smooth;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 35s linear infinite;
}
